<div class="centred-container">
    <div class="modal-container has-background-grey-light">
        <h1 class="title">Create a new column</h1>

        <input #columnTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter column name...">
        <br><br>
        <div class="buttons is-right">
            <div class="button is-medium" routerLink="/board">Cancel</div>
            <div class="button is-primary has-text-white is-medium" (click)="createColumn(columnTitleInput.value)">Create</div>
        </div>
    </div>
</div>