<div class="centred-container">
    <div class="auth-box">
        <h1 class="title is-4 has-text-centered">Create an account</h1>

        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input #emailInput class="input has-background-light" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input #passwordInput class="input has-background-light" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <p class="has-text-danger has-text-centered" *ngIf="invalid">Invalid credentials</p>
        <div *ngIf="!invalid"><br></div>

        <div class="field">
          <p class="control">
            <button class="button is-fullwidth is-success has-text-white has-background-link" (click)="signup(emailInput.value, passwordInput.value)">
              Sign Up
            </button>
          </p>
        </div>
        <br>
        <p class="has-text-centered">Already have an account? <a routerLink="/login">Login!</a></p>
    </div>
</div>