<div class="main-container">
    <div class="navbar has-background-dark">
        <div class="navbar-start">
            <div class="navbar-item">
                <h1 class="app-name">Kanban Board</h1>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <button class="button is-link has-text-white" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-wrapper">
            <div class="board-columns" 
                cdkDropList
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="columns"
                (cdkDropListDropped)="dropColumn($event)"

                cdkDropListGroup
            >
                <div class="board-column has-background-grey-light" *ngFor="let column of columns"
                    cdkDrag (cdkDragStarted)="startDrag($event)" cdkDragLockAxis="x"
                >
                    <div class="column-header">
                        <div class="column-title has-text-black">
                            <input
                                #columnTitleInput
                                class="input has-text-weight-bold"
                                type="text"
                                placeholder="Column Title"
                                value="{{ column.title }}"
                                (focus)="renameColumn(column._id)"
                                (blur)="updateColumn(column._id, columnTitleInput.value)"
                                [ngClass]="{'addFakeBackgroundColor': !column.isTitleSelected}"
                            >
                        </div>

                        <div class="dropdown is-hoverable is-right ml-3">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true">
                                    <span class="icon is-small">
                                        <i class="fas fa-cog" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                    <a class="dropdown-item has-text-danger" (click)="deleteColumn(column._id)" >Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tasks-container"
                    cdkDropList
                    [cdkDropListData]="{columnId: column._id, tasks: column.tasks}"
                    (cdkDropListDropped)="dropTask($event)">
                        <div
                            #taskTempleteVar
                            id="task-id"
                            class="task"
                            *ngFor="let task of column.tasks"
                            (click)="openEditTaskModal(task, column)"
                            [ngClass]="{'completed': task.completed}" cdkDrag
                            (cdkDragStarted)="startDrag($event)"
                        >
                            {{ task.title }}
                        </div>
                    </div>
                    <button (click)="openCreateTaskModal(column._id, column)" class="add-task-button">
                        <div class="create-task-icon">
                            <i class="fas fa-plus"></i>
                        </div>
                        <h3 class="add-task-text">Add Task</h3>
                    </button>
                </div>
                <button
                    class="button create-column-btn"
                    [ngClass]="{'create-column-btn-space': columns && columns.length === 0}"
                    (click)="openCreateColumnModal()"
                >
                    + New Column
                </button>
            </div>
        </div>

        <div class="modal" [ngClass]="{'is-active': openModal}" [ngSwitch]="popUpTemplate">
            <div class="modal-background" (click)="closeModal()"></div>
            <app-new-column
                *ngSwitchCase="'NewColumnComponent'"
                [mainView]="this"
                [columns]="columns"
            ></app-new-column>
            <app-new-task
                *ngSwitchCase="'NewTaskComponent'"
                [mainView]="this"
                [columnId]="selectedColumnId"
                [column]="selectedColumn"
            ></app-new-task>
            <app-edit-task
                *ngSwitchDefault
                [mainView]="this"
                [selectedTask]="selectedTask"
                [selectedTaskTitle]="selectedTaskTitle"
                [column]="selectedColumn"
            ></app-edit-task>
        </div>
    </div>
</div>